<ion-content class="ion-padding">

  <ion-button class="ion-float-right"
              color="medium"
              fill="clear"
              (click)="modalCtrl.dismiss(undefined, 'skipped')">
    Skip
  </ion-button>

  <h2>Login</h2>
  <form [formGroup]="form"
        (ngSubmit)="submit(form.value)"
        (keyup.enter)="submit(form.value)"
        autocomplete="off">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"
                 debounce="1000"></ion-input>
      <ion-note color="danger"
                *ngIf="email.invalid && email.value">Please enter a valid Email</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password"
                 [type]="showPassword ? 'text' : 'password'"></ion-input>
      <ion-button fill="clear"
                  slot="end"
                  (click)="showPassword = !showPassword">
        <ion-icon [name]="showPassword ? 'eye' : 'eye-off'"></ion-icon>
      </ion-button>
      <ion-note color="danger"
                *ngIf="password.invalid && password.value">Please enter a valid Password</ion-note>
    </ion-item>

    <ion-item lines="none"
              *ngIf="error"
              class="error">
      <div [innerHtml]="error"></div>
    </ion-item>

    <ion-row class="ion-margin">
      <ion-col size="6"
               class="ion-text-left">
        <ion-button color="secondary"
                    (click)="modalCtrl.dismiss(undefined, 'signup')">
          Signup
        </ion-button>
      </ion-col>

      <ion-col size="6"
               class="ion-text-right">
        <ion-button type="submit">
          Login
        </ion-button>
        <br>
        <ion-button class="ion-margin-top"
                    fill="clear"
                    size="small"
                    color="medium"
                    (click)="resetPassword()">
          Reset Password
        </ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>