<div class="ion-padding">

  <h2>{{item ? 'Edit' : 'Add'}} Todo Item</h2>
  <h6 class="ion-text-left">{{title.value}}</h6>

  <form [formGroup]="todoForm"
        (ngSubmit)="save(todoForm.value)">

    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea formControlName="notes"></ion-textarea>
    </ion-item>

    <ion-item formGroupName="deadline">
      <ion-label position="floating">Deadline</ion-label>
      <ion-datetime formControlName="date"
                    [displayFormat]="hasTime ? 'D MMM YYYY, H:mm a' : 'D MMM YYYY'"></ion-datetime>
      <div class="datetime-btns"
           slot="end">
        <ion-button *ngIf="deadlineDate.value"
                    class="clear-datetime-btn"
                    fill="clear"
                    (click)="clearDatetime(); $event.stopPropagation()">
          Clear
        </ion-button>
        <ion-button *ngIf="deadlineDate.value && !hasTime"
                    class="add-time-btn"
                    fill="clear"
                    (click)="timePicker.open(); $event.stopPropagation()">
          Add Time
        </ion-button>
        <ion-button *ngIf="hasTime"
                    class="rm-time-btn"
                    fill="clear"
                    (click)="removeTime(); $event.stopPropagation()">
          Remove Time
        </ion-button>
      </div>
    </ion-item>

    <ion-datetime #timePicker
                  style="display:none"
                  (ionChange)="addTime(timePicker.value)"
                  pickerFormat="h:mm A"></ion-datetime>

    <ion-item>
      <ion-label>High Priority</ion-label>
      <ion-checkbox slot="end"
                    formControlName="highPriority"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="hasTime">
      <ion-label>Send Reminder</ion-label>
      <ion-checkbox #showRemindersCheckbox
                    [checked]="showReminders"
                    (ionChange)="sendRemindersClicked(showRemindersCheckbox)"></ion-checkbox>
    </ion-item>

    <div class="reminders"
         [hidden]="!showReminders"
         formGroupName="reminders">

      <h5>Reminders</h5>
      <div *ngFor="let rc of reminders.controls | keyvalue"
           class="option">
        <ion-checkbox [formControlName]="rc.key"></ion-checkbox>
        <span *ngIf="rc.key !== '0_minute'; else onTheDot">{{rc.key.replace('_', ' ') | titlecase}}</span>
        <ng-template #onTheDot>On the dot</ng-template>
      </div>
    </div>

    <div class="ion-float-right ion-margin">
      <ion-button slot="end"
                  fill="clear"
                  (click)="cancel()">
        Cancel
      </ion-button>

      <ion-button slot="end"
                  type="submit"
                  [disabled]="todoForm.pristine">
        Save
      </ion-button>
    </div>



  </form>


</div>